html {
  font-size: 0.625rem;
  /* 10px equivalent thanks to default of 16px */
  font-family: 'Montserrat', 'Helvetica Neue', Helveitca, sans-serif;
  background: #fff;
  color: #5a5660;
  text-rendering: optimizeLegibility;
  box-sizing: border-box; }
  html * {
    box-sizing: border-box; }

body {
  font-size: 1.6rem;
  /* 16px equivalent */
  padding: 0 4rem; }

a {
  color: #ab80f1;
  text-decoration: none;
  transition: .35s ease all; }

a:hover {
  color: #3de6ae;
  transition: .1s ease all; }

.header-box {
  max-width: 40rem;
  margin: 6rem auto 8rem auto;
  position: relative; }

.bramble-logo {
  display: inline-block;
  width: 100%;
  position: absolute;
  left: -75%; }

.site-heading {
  text-transform: lowercase;
  font-weight: 600;
  font-size: 10rem;
  padding-top: 22rem;
  margin: 0; }

.site-byline {
  max-width: 40rem;
  margin: 0 auto 6rem auto; }

.page-wrapper-rules {
  max-width: 40rem;
  margin: 0 auto; }

.btn-link {
  display: block;
  width: 100%;
  margin: 2rem 0;
  padding: 2rem;
  border-radius: 20rem;
  text-align: center;
  border: 3px solid #ab80f1;
  color: #ab80f1; }
  .btn-link:hover {
    border-color: #3de6ae;
    color: #40c79a; }
  .btn-link:active {
    transform: translateY(0.3rem);
    transition: 0s; }
  .btn-link.release {
    border: none;
    background: #ab80f1;
    color: #fff; }
    .btn-link.release:hover {
      background: #40c79a; }

img.full {
  display: block;
  width: 100%;
  margin: 6rem 0;
  border-radius: 2rem;
  overflow: hidden; }

.page-footer {
  margin-top: 6rem;
  padding-bottom: 6rem; }

@media only screen and (max-width: 730px) {
  .header-box {
    margin-bottom: 6rem; }
  .bramble-logo {
    position: absolute;
    width: 70%;
    left: -30%;
    top: -4rem; } }

@media only screen and (max-width: 575px) {
  .header-box {
    margin-top: 4rem;
    margin-bottom: 4rem; }
  .bramble-logo {
    position: relative;
    width: 65%;
    left: -25%;
    top: 0; }
  .site-heading {
    padding: 0;
    font-size: 6.5rem; }
  img.full {
    margin-top: 4rem;
    margin-bottom: 4rem; } }